// out: style.css

html, body
  width: auto
  padding: 0px
  margin: 0px
  font-family: Myriad Pro, helvetica, arial, sans-serif
  background: #FC4149
  font-size: 20px
  line-height: 30px
  -webkit-font-smoothing: antialiased;

#return
  position: absolute
  font-weight: normal
  top: 10px
  left: 10px
  color: white
  text-decoration: none

#container
  width: 50%
  margin: 10px auto
  padding: 50px 30px
  color: white

  h1
    font-family: Helvetica, sans-serif
    font-weight: bold
    font-size: 42px
    text-align: center
    line-height: 50px

  p
    font-size: 15px
    line-height: 25px
