html, body {
  width: auto;
  padding: 0px;
  margin: 0px;
  background: #FC4149;
  -webkit-font-smoothing: antialiased;
  line-height: 30px;
  font-family: Myriad Pro, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 20px; }

#return {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  text-decoration: none; }

#container {
  width: 50%;
  margin: 10px auto;
  padding: 50px 30px;
  color: white; }
  #container h1 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    line-height: 50px; }
  #container p {
    font-size: 15px;
    line-height: 25px; }
