html, body {
	width: auto;
	padding:0px;
	margin:0px;
	font-family:  Myriad Pro, helvetica, arial, sans-serif;
	background: #FC4149;
}

#return {
	font-family:  Myriad Pro, helvetica, arial, sans-serif;
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	font-family:  Myriad Pro, helvetica, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
}

#container {
	width: 50%;
	margin: 10px auto;
	padding: 50px 30px;
	color: white;
}

#container h1{
	font-family: Helvetica, 'Helvetica Neue', Arial, Helvetica, sans-serif, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 42px;
	line-height: 50px;
}
#container p{
	font-size: 15px;
	line-height: 25px;
}
