doctype html
html(lang="en")
  head
    title About
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='about.css', rel='stylesheet').

  body
    a.back(href="index.html") Back
    #container
      ul
        li.title About 
        li 5'7"
        li Male
        li 26 Years Old
        li January 9 1989
        li Bronx, New York
        li &nbsp;
        li Education
        li Associate's in Graphic Design and Animation
        li Bachelor's in Computer Graphics & Imaging
        li &nbsp;
        li Skills
        li 3/5 2D Illustration
        li 3/5 2D Animation
        li 2/5 3D Modeling 
        li 3/5 3D Animation
        li 2/5 Swift Programming
        li 3/5 Java Programming
        li 4/5 Internet Programming
        li 4/5 Graphic Design
        li 4/5 User Experience