//output:experiments.html

doctype html
html(lang="en")
  head
    title Experiments
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='index.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Experiments 
        li: a(href='experiment_001/index.html') 001 _ Game _ Falling Rabbits
        li: a(href='experiment_002/index.html') 002 _ Javascript _ Full Screen Background
        li: a(href='experiment_003/index.html') 003 _
