//output:index.html

doctype html
html(lang="en")
  head
    title _ 
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='index.css', rel='stylesheet').
  
  body
    #container
      ul
        li.title Michael
        li: a(href="experiments.html") My web experiments 
        li: a(target='tumblr', href="http://mindfulmichael.tumblr.com/archive") Tumblr for my interests
        li: a(target='instagram', href="https://instagram.com/michaels_photographs/") Instagram for my pictures
        li: a(target='soundcloud', href="https://soundcloud.com/mindfulmichael/likes") Soundcloud for music I like    
        li: a(target='medium', href="https://medium.com/@michaels_journl") Medium for my longer thoughts
        li: a(target='youtube', href="https://www.youtube.com/channel/UC6U3PfqrGc4mhGkhXb_aZfQ") Youtube for videos I made and like
        li: a(target='twitter', href="https://twitter.com/michaels_journl") Twitter for my thoughts under 140 characters
