.nospacing, html, body {
  padding: 0px;
  margin: 0px; }

html, body {
  background-color: #191919;
  font-family: Myriad Pro, helvetica, arial, sans-serif;
  color: #2D2D2D;
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 600px) {
    html, body {
      font-size: 20px;
      line-height: 27px; } }

.back {
  color: white;
  text-decoration: none;
  top: 10px;
  left: 10px;
  position: absolute;
  font-size: 20px; }

#container {
  width: 80%;
  margin: 100px auto; }
  @media only screen and (max-width: 600px) {
    #container {
      width: auto;
      margin: 75px 0px;
      padding: 0px 30px; } }
  #container .title {
    color: white; }
  #container ul, #container li {
    list-style: none;
    color: #2D2D2D;
    padding: 0px;
    margin: 0px; }
    @media only screen and (max-width: 600px) {
      #container ul, #container li {
        padding-bottom: 10px; } }
  #container a {
    color: #2D2D2D;
    text-decoration: none; }
  #container a:hover, #container a:active {
    color: #424242; }

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: red; }

::selection {
  color: white;
  background: red; }

/*
body{    
    @include smallScreen {

    }
    @include largeScreen {
    	background-color:green;	
    }
}
*/
