//output:index.html

doctype html
html(lang="en")
  head
    title _ 
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='index.css', rel='stylesheet').
  
  body
    #container
      ul
        li.title Michael
        //li: a(href="portfolio.html") Portfolio 
        li: a(href="about.html") About 
        li: a(href="experiments.html") Experiments 
        li: a(href="links.html") Internet Links 
        li: a(href="#") mindfulmichael@gmail.com
    
