doctype html
html(lang="en")
  head
    title Links
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='about.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Internet Links 
        
        li: a(target='tumblr', href="http://michaellleahcim.tumblr.com/archive") Tumblr for Interests

        li: a(target='twitter', href="https://twitter.com/michaellleahcim") Twitter for Thoughts
        
        li: a(target='instagram', href="https://instagram.com/michaellllleahcim/") Instagram for Pictures