doctype html
html(lang="en")
  head
    title Links
    meta( name='viewport', content='width=device-width, initial-scale=1').
    link(rel="shortcut icon", href="favicon.ico").
    link(href='about.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Internet Links 
      
        li: a(target='gifs', href="http://gifsiwantedtosave.tumblr.com") Tumblr for GIFs

        li: a(target='youtube', href="https://www.youtube.com/channel/UCsE_xl2KxK01Ep3tLjATTWg") Youtube for Videos

        li: a(target='strava', href="https://www.strava.com/athletes/4359844") Strava for Workouts

        li: a(target='tumblr', href="http://mindfulmichael.tumblr.com/archive") Tumblr for Interests

        li: a(target='tumblr', href="http://myposessions.tumblr.com/archive") Tumblr for My Stuff

        li: a(target='twitter', href="https://twitter.com/michaellleahcim") Twitter for Thoughts
        
        li: a(target='instagram', href="https://instagram.com/mindfulmichael/") Instagram for Pictures

        li: a(target='soundcloud', href="https://soundcloud.com/mindfulmichael/likes") Soundcloud for Music



        