
body {
	background: #1E1F1E;
	color: white;
	padding: 0px;
	margin: 0px;
	font-family: helvetica,arial,sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: red;
}

::selection {
    color: white; 
    background: red;
}

.hide {
	height: 0px !important;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

nav {
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	padding: 10px 0px;
	overflow: hidden;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*
#nav-toggle {
	text-decoration: none;
	color: white;
	position: relative;
	top:10px;
	left: 30px;
	font-size: 25px;
}
*/
nav ul {
	display: block;
	margin: 0px;
	padding: 0px;
}

nav li {
	float: left;
	list-style-type: none;
	margin: 10px 0px 10px 30px;
}

nav li a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

nav li a:hover {
	color:#D7DAD8;
}

#container {
	width:600px;
	margin: 10px auto;
}

h1 {

	color: #CA8636;
	font-size: 300px;
	font-family: 'Amatic SC', cursive;
	letter-spacing: -10px;
	text-align: center;
	margin: -30px 0px 0px 0px;

}	
h1:hover{
	color:#353026;
}

h2 {
	color: #353026;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	margin-top: -30px;
	-webkit-animation: example 1s linear infinite;
}

@-webkit-keyframes example  {
    0%   {color: #353026;}
    50%  {color: white;}
    100% {color: #353026;}
}
@-moz-keyframes example  {
    0%   {color: #353026;}
    50%  {color: white;}
    100% {color: #353026;}
}
@-o-keyframes example  {
    0%   {color: #353026;}
    50%  {color: white;}
    100% {color: #353026;}
}
@keyframes example  {
    0%   {color: #353026;}
    50%  {color: white;}
    100% {color: #353026;}
}

p{
	color: #141312;
	font-size: 18px;
	line-height: 25px;
	text-align: justify;
}

#container ul{
	margin-top: 40px;	
}

#container li a{
	text-decoration: none;
	color: white;
}

#container li a:hover {
	color:#353026;
}


footer {
	color: #141312;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 97%;
	text-align: center;
	padding: 20px 0px;
	font-size: 15px;
}







/*
Classie Hamburger Button
*/

.menu-button {
	width: 25px;
	height: 30px;
	position: relative;
	top:10px;
	left: 30px;
	display: block;
	background: none;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.morph-shape svg path,
.morph-shape svg line {
	stroke: #DDDCD7;
	stroke-width: 9px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button--open .morph-shape svg path:first-of-type {
	-webkit-transform: translate3d(0, -8px, 0);
	transform: translate3d(0, -8px, 0);
}

.menu-button--open .morph-shape svg path:nth-of-type(2) {
	-webkit-transform: translate3d(0, 8px, 0);
	transform: translate3d(0, 8px, 0);
}


/*
/Classie Hamburger Button
*/



@media (max-width: 640px) { 
	#container {
		width: 90%;
	}

	h1{
		margin-top: 10px;
		font-size: 150px;
	}

	h2 {
		margin-top:0px;
		font-size: 30px;
	}

	p {
		font-size: 14px;
	}

	nav li {
		float: none;
		margin: 10px 0px;
		display: block;
		text-align: center;
	}


	nav {
		height: 80px;
	}
}
