doctype html
html(lang="en")
  head
    title About
    link(href='components/css/about.css', rel='stylesheet').

  body
    a.back(href="index.html") Back
    #container
      ul
        li.title About 
        li 26
        li Male
        li New York
        li 5'7"
        li 180lb
        li: a(href="story.html") My Story
        li: a(href="lifespan.html") Lifespan
        