doctype html
html(lang="en")
  head
    title Contact
    link(href='components/css/about.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Contact 
        li: a(href='#') Email
        li: a(href='http://michaellleahcim.tumblr.com/archive') Tumblr
        
        