doctype html
html(lang="en")
  head
    title Life
    link(href='components/css/about.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Things I've Learned about Life 
        li Work is the only way things get better.
        li Failure is an important part of life.

        
        