doctype html
html(lang="en")
  head
    title Portfolio
    link(href='components/css/about.css', rel='stylesheet').


  body
    a.back(href="index.html") Back
    #container
      ul
        li.title Portfolio 
        li: a(href='#') 3D
        li: a(href='#') Animation
        li: a(href='#') Web Design
        li: a(href='#') Photography
        li: a(href='#') Graphic Design

        
        